body {
  font-family: Montserrat;
  color: $black;
  line-height: 1.6em;
}

h1, .h1 {
  font-size: 2.5rem;
  line-height: 1em;
  margin-top: 0;
}

h2, .h2 {
  margin-top: 0;
  font-size: 2rem;
  line-height: 1.2em;
}

h3, .h3 {
  margin-top: 0;
}

.small {
  font-size: 0.875rem;
}

a, a:link {
  color: $primary-color;
}
a:hover {
  text-decoration: none;
}

blockquote {
  position: relative;
  margin-left: 0;
  padding: $site-padding $site-padding*2 $site-padding $site-padding*3;
  background-color: $slight-blue;

  p {
    margin: 0;
  }
  p + p {
    margin-top: $site-padding;
  }
  span {
    font-weight: bold;
  }
  &::before{
    font-family:Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top: 20px;
  }
}
